textarea {
  width: 100%;
}

#Tbox {
  padding-left: 2rem;
  padding-right: 7.2rem;
}

.reply_reply {
  border: 2px solid #ff50cf;
}
.reply_modify {
  border: 2px solid #ffbb00;
}

table.comment td {
  font-weight: bold;
  vertical-align: top;
  color: black;
  background: #d3d3d3;
}

table.comment th {
  font-weight: bold;
  vertical-align: top;
  color: black;
  background: #d3d3d3;
}

table.recomment td {
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #eee;
}

table.recomment input {
  background: #eee;
}
